extends layout

block content

    div(class='page-header')
            h1=title

    div(class='nav')
        a(href='/items')  
            button Items
        a(href='/categories/create')  
            button Create Category
        

    div(class='allCategoriesContainer')

            each category in all_categories
                div(class='individualCategory')

                    label Category Name: #{category.name}
                    label Description: #{category.description}                 

                    div(class='form_buttons')
                        a(href='/categories/'+category.id + '/update')  
                            button Edit
                        a(href='/categories/'+category.id + '/delete')
                            button Delete