extends layout

block content
  
  div(class='page-header')
    h1=title

  div(class='intro')
    h2 This app allows you to perform CRUD operations on Items and Categories
    h2 Select an option below to give it a try
  

  div(class='nav')
    a(href='/items')  
        button Items
    a(href='/categories')  
        button Categories

