extends layout

block content

    div(class='page-header')
        h1=title

    form(method='POST' action='')
        div(class='item_create_form_info')

            div(class='item_create_form_info_row')
                label(for='item_name') Item Name: 
                input#item_name(type='text' required='true' name='name')

            div(class='item_create_form_info_row')
                label(for='item_description') Description: 
                input#item_description(type='text' required='true' name='description')

            div(class='item_create_form_info_row')
                label(for='item_category') Category: 
                input#item_category(type='text' required='true' name='category')

            div(class='item_create_form_info_row')
                label(for='item_price') Price $ 
                input#item_price(type='number' required='true' step='.01' name='price')

            div(class='item_create_form_info_row')
                label(for='item_stock') Number in stock: 
                input#item_stock(type='number' required='true' name='number_in_stock')

            button(type='submit') Create
    
    if err
        div(class='errors')
            h3=err