body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-header {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.allItemsContainer, .allCategoriesContainer {
  border: 1px solid red;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  grid-template-columns: repeat(3, 1fr);

}

.individualItem, .individualCategory {
  padding: 1rem;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.item_update_form_info, .category_update_form_info, .item_create_form_info, .category_create_form_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_update_form_info_row, .category_update_form_info_row, .item_create_form_info_row, .category_create_form_info_row {
  margin: 0.5rem;
}

.delete_item_info {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete_confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.errors {
  display: flex;
  justify-content: center;

}